.App {
  text-align: center;
  background: #8280b8;
  /*height: 1200px;*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
}

.title-div {
  /*margin-top: 10%;*/
  padding: 0;
  display: flex;
  margin-left: 34%;
}

.title-1 {
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
  margin-block-start: 0;
  margin-block-end: 0;
}

.title-2 {
  font-size: 100px;
  font-weight: bold;
  font-family: monospace;
  color: forestgreen;
  margin-block-start: 0;
  margin-block-end: 0;
}

.searchdiv {
  display: inline-block;
  font-weight: bolder;
  margin-bottom: 5px;
}
.resultWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}



/*.cardsdiv {*/
/*  !*display: grid;*!*/
/*  column-count: 2;*/
/*  padding-top: 2%;*/
/*}*/

/*.cardspan {*/
/*  float: right;*/
/*  margin-right: 17%;*/
/*}*/

/*.resultspan {*/
/*  float:left;*/
/*  margin-left: 18%;*/
/*  width: 866px;*/
/*  !*width: 500px;*!*/
/*}*/
/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*.resultWrapper{*/
/*  display: inline-block;*/
/*  !*display: flex;*!*/
/*  align-items: center;*/
/*  align-content: center;*/
/*  flex-direction: column;*/
/*}*/

